#contact_modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: auto;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 35%;
  margin-top: 100px;
}
.contact_button:hover {
  background-color: #db8876;
}
.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
  margin: 20px 0px 0px 0px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
form textarea {
  width: 100%;
  border: none;
  border-radius: 5px;
}

.imgProfil {
  border-radius: 50%;
  margin-top: 50px;
  object-fit: cover;
  margin-left: 300px;
}
#profil {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#nom_profil {
  margin-top: -300px;
  margin-left: 150px;
}
#photographeMedia {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.media_photographe {
  width: 250px;
  height: 60%;
  object-fit: cover;
}
#photographeMedia > div {
  width: 20%;
  margin-bottom: -20px;
  margin-left: 10px;
  margin-top: none;
}
#trier {
  margin-top: 100px;
  margin-bottom: 60px;
  margin-left: 25px;
  font-size: 25px;
  padding: 5px;
  background-color: #901c1c;
  color: #fff;
  border: none;
}
.trier {
  margin-left: 50px;
}
.fas {
  margin-left: 10px;
}
.titreMedia {
  font-size: 16px;
  color: #db8876;
}
#mediaLike {
  margin-left: 150px;
  margin-top: -30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #db8876;
}
#mediaLike > i {
  margin-top: 19px;
  cursor: pointer;
  margin-left: -70px;
}
#play {
  position: absolute;
  margin-top: 90px;
  margin-left: 100px;
  font-size: 40px;
  color: #fff;
}
a {
  cursor: pointer;
}
#titre_photo {
  color: #901c1c;
  margin-left: 50px;
  margin-top: -30px;
  font-size: 20px;
}
#all_Media_Like {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #db8876;
  height: 50px;
  width: 200px;
  margin-left: 80%;
}
#tout_les_likes {
  margin-left: 15px;
  font-size: 20px;

  font-weight: bold;
}
